// Background colors

.background--barely {
  background-color: $color-barely;
}

.background--clay-light {
  background-color: $clay-light;
}

.background--clay-dark {
  background-color: $clay-dark;
}

.background--grey-green {
  background-color: $grey-green;
}
